<html>
	<head>
		<title>Home Page</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style type="text/css">
      .album img {
    height: 200px;
    vertical-align: middle;
    border-style: none;
}
    </style>
	</head>
	<body>


       <header>
        <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">Ftp Server</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <% for(var i=0; i< category.length; i++){ %>
              <li class="nav-item active">
                <a class="nav-link" href="/category/<%= category[i].id %>"><%= category[i].name %></a>
              </li>
             <% } %>
             <li class="nav-item">
                <a class="nav-link" href="/request">Request</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="post" action="/category">
              <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
        </div>
         </header>

<!--  -->
     
<main role="main">

<!--   <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>
 -->
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <% for(var i=0; i< movies.length; i++){ %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          

           <img src='<%= movies[i].image %>' alt="">
            <div class="card-body">
               <title>Name :<%= movies[i].name %></title>
              <p class="card-text"> Description : <%= movies[i].des %></p>
               <p class="card-text"> Description : <%= movies[i].des %></p>
                <a href="<%= movies[i].content %>" type="button" class="btn btn-sm btn-outline-secondary">Download</a>
              <div class="d-flex justify-content-between align-items-center">
               <!--  <div class="btn-group">
                  <a href="/movie/<%= movies[i].id %>" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                </div> -->
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
         <% } %>
       
      </div>
    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
   
  </div>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
	</body>
</html>